{% extends "index.html" %} {% block content %}
<main>
  <section class="hero">
    <div class="hero-content">

      <h1 class="animate-left">Umer laptop store</h1>
      <p class="animate-right">Your one-stop shop for unique laptop</p>
      <a href="/product/" class="cta-button">Buy now </a>
    </div>
  </section>
  <!-- Feature section -->
  <section class="featured-products">
    <h2>Feature Product</h2>
    <div class="border"></div>
    <div class="product-list">
      <div class="product">
        <img src="https://www.czone.com.pk/images/thumbnails-large/copy-47-czone.com.pk-1540-15152-040923112248.jpg" alt="Product 1" />
        <h3>Lenovo IdeaPad 1 15AMN7 Laptop - AMD Ryzen 3 7320U - 4GB DDR5 - 256GB SSD - Radeon 610M Graphics - 15.6" HD Display | Cloud Grey - 82VG00B0AX</h3>
        <p>Price: Rs. 98000</p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half"></i>
        </div>
        <a href="/product/" class="shop-now-btn">Buy now </a>
      </div>
      <div class="product">
        <img src="https://www.czone.com.pk/images/thumbnails-large/3-czone.com.pk-1540-13522-020922103536.jpg" alt="Product 1" />
        <h3> 
          HP 15S-FQ5000NIA Laptop - Intel Core i3-1215U, 4GB, 256GB SSD, Intel Graphics, 15.6" HD Display, Jet black</h3>
        <p>Price: Rs. 75000</p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half"></i>
        </div>
        <a href="/product/" class="shop-now-btn">Buy now </a>
      </div>
      <div class="product">
        <img src="https://www.czone.com.pk/images/thumbnails-large/copy-copy-copy-42-czone.com.pk-1540-14813-160623102605.jpg" alt="Product 1" />
        <h3>Dell Vostro 3520 Laptop Intel Core i5-1235U 4GB DDR4 256GB SSD WiFi 5 15.6" FHD 120Hz Display | Carbon Black</h3>
        <p>Price: Rs. 80000</p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half"></i>
        </div>
        <a href="/product/" class="shop-now-btn">Buy now </a>
      </div>
      <div class="product">
        <img src="https://www.czone.com.pk/images/thumbnails-large/9-czone.com.pk-1540-15213-130923093602.jpg" alt="Product 1" />
        <h3> 
          HP Victus 15-FB1013DX Gaming Laptop - AMD Ryzen 5 7535HS, 8GB DDR5, 512GB SSD, NVIDIA GeForce RTX 2050 4GB GDDR6, 15.6" FHD 144Hz IPS Display, Backlit KB, Windows 11 | Mica Silver</h3>
        <p>Price: Rs.120000</p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half"></i>
        </div>
        <a href="/product/" class="shop-now-btn">Buy now </a>
      </div>
      <div class="product">
        <img src="https://www.czone.com.pk/images/thumbnails-large/17-czone.com.pk-1540-14665-080523100912.jpg" alt="Product 1" />
        <h3> 
          HP Envy x360 2-in-1 14-ES0013DX Laptop - Intel Core i5-1335U, 8GB, 512GB SSD, Backlit KB, Fingerprint Reader, 14" FHD IPS Touchscreen, Windows 11 | Natural Silver</h3>
        <p>Price: Rs. 130000</p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half"></i>
        </div>
        <a href="/product/" class="shop-now-btn">Buy now </a>
      </div>
      <div class="product">
        <img src="https://www.czone.com.pk/images/thumbnails-large/52-czone.com.pk-1540-14925-010823100135.jpg" alt="Product 1" />
        <h3> 
          Dell Inspiron 14 7430 2-in-1 Laptop - Intel Core i5-1335U 8GB 512GB SSD - Intel Iris Xe Graphics - Backlit KB - Fingerprint Reader - Windows 11 - 14" FHD+ Touchscreen | Platinum Silver</h3>
        <p>Price: Rs. 150000</p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half"></i>
        </div>
        <a href="/product/" class="shop-now-btn">Buy now </a>
      </div>
    </div>
   
  </section>
 
  
  {% include "footer.html" %}
</main>     
{% endblock content %}
