<!-- footer -->
<footer class="footer">
  <div class="container">
    <div class="row1">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="/about/">about us</a></li>
          <li><a href="/product/">our services</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">affiliate program</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li><a href="/product/">product</a></li>
          <li><a href="/categories/">categories</a></li>
          <li><a href="/about/">about</a></li>
          <li><a href="/contact/">contact</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="facebook.com"><i class="fab fa-facebook-f"></i></a>
          <a href="twitter.com"><i class="fab fa-twitter"></i></a>
          <a href="instagram.com"><i class="fab fa-instagram"></i></a>
          <a href="linkedin.com"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer -->
